*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightcyan;
}
.main{
    height: auto;
    width: 400px;
    background-color: rgb(98, 156, 211);
    filter: blur(50px);
    filter: opacity(70%);
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px ;
    border-radius: 10px;
}
input{
    height: 20px;
    border: none;
    padding: 10px;
    font-size: medium;
    margin: 20px;
}

.addBtn{
    padding: 10px;
    background-color: pink;
    border: none;
    border-radius: 30px;
}

ul li{
    list-style: none;
    padding: 6px;
    display: flex;
    padding-left: 50px;
    color: black;
    margin-bottom: 10px;
}

ul li button{
    position: absolute;
    left: 50%;
    padding: 2px;
    border-radius: 40%;

}

ul li button:hover{
    background-color: pink;
}